<header class="app-header navbar">
	<button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
	<a class="navbar-brand" href="#" style="background-size: 170px;">FERIA APT</a>
	<ul class="nav navbar-nav hidden-md-down">
		<li class="nav-item nav-toggler">
			<a class="nav-link navbar-toggler sidebar-toggler" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</li>
	</ul>
</header>

<div class="app-body">
	<sidebar></sidebar>

	<!-- Main content -->
	<main class="main">

		<!-- Breadcrumb -->
		<ol class="breadcrumb">
			<breadcrumbs></breadcrumbs>
		</ol>

		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
		<!-- /.conainer-fluid -->
	</main>
</div>
