<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<h2>
					Avisos
					<button class="btn btn-success pull-right" [routerLink]="['/advice/new']">
						<i class="fa fa-plus"></i> Nuevo
					</button>
				</h2>
			</div>
			<div class="card-block">
				<ngx-datatable class="bootstrap" [rows]="advices | async" [columnMode]="'flex'" [rowHeight]="50" [footerHeight]="40">
					<!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
					<ngx-datatable-column name="Titulo" prop="titulo" [flexGrow]="2"></ngx-datatable-column>
					<ngx-datatable-column name="Subtitulo" prop="subtitulo" [flexGrow]="2"></ngx-datatable-column>
					<ngx-datatable-column name="Fecha" prop="fecha" [flexGrow]="1"></ngx-datatable-column>
					<ngx-datatable-column name="Activo" prop="activo" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<ui-switch [ngModel]="row.activo" (click)="triggerActive($event, row)" size="small"></ui-switch>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Acciones" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button class="btn btn-primary" [routerLink]="[row.id]"><i class="fa fa-pencil"></i></button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>
