<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-block">
				<form #form="ngForm">
					<h3 class="mb-2">Enviar notificación</h3>
					<div class="form-group" [ngClass]="{'has-success': message.valid, 'has-danger': message.touched && message.invalid}">
						<label class="form-control-label">Mensaje</label>
						<textarea #message="ngModel" class="form-control" name="message" [(ngModel)]="notification.message" minlength="20" required></textarea>
						<small class="form-text text-muted">El mensaje debe contener al menos 20 caracteres.</small>
					</div>

					<button class="btn btn-primary" (click)="send()" [disabled]="form.invalid"><i class="fa fa-paper-plane"></i> Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- <pre>{{publicity|json}}</pre> -->
