<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<form #form="ngForm">
					<h3 class="mb-2">Alta de publicidad</h3>
					<div class="form-group" [ngClass]="{'has-success': description.valid, 'has-danger': description.touched && description.invalid}">
						<label class="form-control-label">Descripción</label>
						<textarea #description="ngModel" class="form-control" name="description" [(ngModel)]="publicity.descripcion" required></textarea>
					</div>

					<div class="form-group" [ngClass]="{'has-success': zone.active.length}">
						<label class="form-control-label">Zona</label>
						<ng-select
						#zone
						[items]="zones"
						(selected)="selectZone($event)"
						placeholder="No has seleccionado una zona de publicidad">
						</ng-select>
					</div>

					<div class="form-group" [ngClass]="{'has-success': initDate.valid}">
						<label class="form-control-label">Fecha inicio</label>
						<div class="input-group">
							<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" (click)="showDatePickerI = !showDatePickerI">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							<input #initDate="ngModel" readonly="true" [(ngModel)]="formatedDateI" type="text" class="form-control" name="formatedDateI" placeholder="Fecha de inicio" (focus)="showDatePickerI = true" required>
						</div>
						<div *ngIf="showDatePickerI" style="position: absolute; z-index:10; min-height:290px;">
							<datepicker name="algo" [(ngModel)]="publicity.fecha_inicio" [minDate]="datepickerConfigInit.minDate" [showWeeks]="false" (selectionDone)="activeDateChangeInitDate($event)"></datepicker>
						</div>
					</div>

					<div class="form-group" [ngClass]="{'has-success': initDate.valid}">
						<label class="form-control-label">Fecha fin</label>
						<div class="input-group">
							<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" (click)="showDatePickerE = !showDatePickerE">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							<input #initDate="ngModel" readonly="true" [(ngModel)]="formatedDateE" type="text" class="form-control" name="formatedDateE" placeholder="Fecha de inicio" (focus)="showDatePickerE = true" required>
						</div>
						<div *ngIf="showDatePickerE" style="position: absolute; z-index:10; min-height:290px;">
							<datepicker name="algo" [(ngModel)]="publicity.fecha_fin" [minDate]="datepickerConfigEnd.minDate" [showWeeks]="false" (selectionDone)="activeDateChangeEndDate($event)"></datepicker>
						</div>
					</div>

					<div class="form-group" [ngClass]="{'has-success': link.valid, 'has-danger': link.touched && link.invalid}">
						<label class="form-control-label">Enlace</label>
						<input type="text" #link="ngModel" class="form-control" placeholder="http://example.com" pattern="^(https?:\/\/)([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$" name="link" [(ngModel)]="publicity.link" required>
						<span class="form-text text-muted">Introduzca un enlace válido</span>
					</div>

					<div class="form-group" [ngClass]="{'has-success': publicity.banner !== ''}">
						<label class="form-control-label">Banner</label>
						<div *ngIf="!publicity.id">
							<label class="custom-file">
								<input type="file" class="custom-file-input" name="banner" (change)="changeListener($event)">
								<span #filedialog class="custom-file-control">
									Escoja una imágen...
								</span>
							</label>
						</div>
						<div *ngIf="publicity.id" class="col-6">
							<img class="img-fluid" [src]="publicity.banner" alt="">
						</div>
					</div>
					<div class="form-group">
						<label class="form-control-label">Activo</label>
						<div>
							<ui-switch [(ngModel)]="publicity.activo" name="activo"></ui-switch>
						</div>
					</div>
					<button class="btn btn-primary pull-right" (click)="save()" [disabled]="form.invalid || !publicity.banner"><i class="fa fa-floppy-o"></i> Guardar</button>
					<button class="btn btn-danger pull-right" (click)="delete()" *ngIf="publicity.id"><i class="fa fa-times"></i> Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- <pre>{{publicity|json}}</pre> -->
