<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<form #form="ngForm">
					<h3 class="mb-2">Alta de zonas</h3>
					<div class="form-group" [ngClass]="{'has-success': nombre.valid, 'has-danger': nombre.touched && nombre.invalid}">
						<label class="form-control-label">Nombre</label>
						<input type="text" #nombre="ngModel" class="form-control" name="nombre" [(ngModel)]="zone.nombre" required>
					</div>

					<div class="form-group" [ngClass]="{'has-success': description.valid, 'has-danger': description.touched && description.invalid}">
						<label class="form-control-label">Descripción</label>
						<textarea #description="ngModel" class="form-control" name="description" [(ngModel)]="zone.descripcion" required></textarea>
					</div>

					<div class="form-group" [ngClass]="{'has-success': height.valid, 'has-danger': height.touched && height.invalid}">
						<label class="form-control-label">Alto de banner</label>
						<input type="text" #height="ngModel" class="form-control" name="alto" [(ngModel)]="zone.alto" required>
					</div>

					<div class="form-group" [ngClass]="{'has-success': width.valid, 'has-danger': width.touched && width.invalid}">
						<label class="form-control-label">Ancho de banner</label>
						<input type="text" #width="ngModel" class="form-control" name="ancho" [(ngModel)]="zone.ancho" required>
					</div>

					<div class="form-group" [ngClass]="{'has-success': price.valid, 'has-danger': price.touched && price.invalid}">
						<label class="form-control-label">Costo</label>
						<input type="nuumber" #price="ngModel" class="form-control" name="costo" [(ngModel)]="zone.costo" required>
					</div>

					<div class="form-group">
						<label class="form-control-label">Activo</label>
						<div>
							<ui-switch [(ngModel)]="zone.activo" name="activo"></ui-switch>
						</div>
					</div>
					<button class="btn btn-primary pull-right" (click)="save()" [disabled]="form.invalid"><i class="fa fa-floppy-o"></i> Guardar</button>
					<button class="btn btn-danger pull-right" (click)="delete()" *ngIf="zone.id"><i class="fa fa-times"></i> Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>
