<div>hey</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-block">
				<form #form="ngForm">
					<h3 class="mb-2">Versión</h3>
					<div class="form-group" [ngClass]="{'has-danger': currVer.touched && currVer.invalid}">
						<label class="form-control-label">Versión</label>
						<input #currVer="ngModel" class="form-control" name="version" [(ngModel)]="version.version" required />
					</div>

					<button class="btn btn-primary" (click)="save()" [disabled]="form.invalid"><i class="fa fa-floppy-o"></i> Guardar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- <pre>{{publicity|json}}</pre> -->
