<div class="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/advice']"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Avisos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/publicity']"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Publicidad</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/rate']"><i class="fa fa-usd" aria-hidden="true"></i> Tarifas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/zone']"><i class="fa fa-mobile" aria-hidden="true"></i> Zonas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/notification']"><i class="fa fa-bell" aria-hidden="true"></i> Notificaciones</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="['/version']"><i class="fa fa-terminal" aria-hidden="true"></i> Versión</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:void(0)" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i> Salir</a>
			</li>
		</ul>
	</nav>
</div>
