<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<h2>
					Tarifas
					<button class="btn btn-success pull-right" [routerLink]="['/rate/new']">
						<i class="fa fa-plus"></i> Nuevo
					</button>
				</h2>
			</div>
			<div class="card-block">
				<ngx-datatable
					class="bootstrap"
					[rows]="rate.data"
					[columnMode]="'flex'"
					[rowHeight]="50"
					[footerHeight]="40"
					[externalPaging]="true"
					[count]="rate.total"
					[offset]="rate.current_page"
					[limit]="rate.per_page"
					(page)='setPage($event)'>
					<!-- <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column> -->
					<ngx-datatable-column [flexGrow]="2" name="Nombre" prop="nombre"></ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Tipo" prop="tipo">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<span class="badge" [ngClass]="{'badge-primary': row.tipo == 1, 'badge-success': row.tipo == 2}">
								{{row.tipo == 1 ? 'Ordinario' : 'Preferente'}}
							</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Aire Acondicionado" prop="ac">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<span class="badge" [ngClass]="{'badge-primary':row.ac == false, 'badge-success': row.ac == true }" >
									{{row.ac == true ? 'Si' : 'No'}}
							</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Precio" prop="precio">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.precio | currency:'MXN':true}}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Fecha de inicio" prop="fecha_tarifa"></ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Fecha de fin" prop="fecha_fin"></ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Activo" prop="activo">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<ui-switch [ngModel]="row.activo" (click)="triggerActive($event, row)" size="small"></ui-switch>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column [flexGrow]="1" name="Acciones">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button class="btn btn-primary" [routerLink]="[row.id]"><i class="fa fa-pencil"></i></button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>
