@import "../../../scss/bootstrap-variables";
.login{
	width: 100%;
	height: 100vh;
	&:after{
		display: block;
		clear: both;
		content: '';
	}
	.half{
		width: 50%;
		float: left;
	}
	.login-container{
		height: 100%;
		background: #70cee6;
		// background: #f9f9f9;
	}
	.row{
		margin: 0;
	}
	.logo{
		height: 200px;
		display: block;
		margin: 0 auto;
		padding: 10px;
	}
}
