<section class="login">
	<div class="login-container row align-items-center justify-content-center">
		<div class="col-4">
			<img src="assets/img/logo.png" alt="" class="logo">
			<h2 class="text-center">Sistema de avisos, publicidad y tarifas</h2>
			<div class="card">
				<div class="card-block">
					<form #form="ngForm">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="email" class="form-control" placeholder="Email" name="username" [(ngModel)]="user.email" required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="user.password" required>
							</div>
						</div>
						<div class="form-group margin-top">
							<button class="btn btn-primary btn-block" [disabled]="form.invalid" (click)="login()">Login <i class="fa fa-arrow-right"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
