<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<h2>
					Publicidad
					<button class="btn btn-success pull-right" [routerLink]="['/publicity/new']">
						<i class="fa fa-plus"></i> Nuevo
					</button>
				</h2>
			</div>
			<div class="card-block">
				<ngx-datatable class="bootstrap" [rows]="publicity | async" [columnMode]="'force'" [rowHeight]="50" [footerHeight]="40">
					<ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>
					<ngx-datatable-column name="Descripcion" prop="descripcion"></ngx-datatable-column>
					<ngx-datatable-column name="Zona" prop="zone.nombre"></ngx-datatable-column>
					<ngx-datatable-column name="Fecha inicio" prop="fecha_inicio"></ngx-datatable-column>
					<ngx-datatable-column name="Fecha fin" prop="fecha_fin"></ngx-datatable-column>
					<ngx-datatable-column name="Activo" prop="activo">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<ui-switch [ngModel]="row.activo" (click)="triggerActive($event, row)" size="small"></ui-switch>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Acciones">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button class="btn btn-primary" [routerLink]="[row.id]"><i class="fa fa-pencil"></i></button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>
