<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-block">
				<form #form="ngForm">
					<h3 class="mb-2">Alta de aviso</h3>
					<div class="form-group" [ngClass]="{'has-success': title.valid, 'has-danger': title.touched && title.invalid}">
						<label class="form-control-label">Título</label>
						<input #title="ngModel" type="text" class="form-control" name="title" [(ngModel)]="advice.titulo" required>
					</div>
					<div class="form-group" [ngClass]="{'has-success': subtitle.valid, 'has-danger': subtitle.touched && subtitle.invalid}">
						<label class="form-control-label">Subtítulo</label>
						<input #subtitle="ngModel" type="text" class="form-control" name="subtitle" [(ngModel)]="advice.subtitulo" required>
					</div>
					<div class="form-group" >
						<label class="form-control-label">Descripción</label>
						<!-- <textarea #description="ngModel" class="form-control" name="description" [(ngModel)]="advice.descripcion" required></textarea> -->
						<ckeditor
							name="descripcion"
						    [(ngModel)]="advice.descripcion"
						    [config]="{uiColor: '#b8b8b8'}"
						    [readonly]="false"
						    debounce="500">
					    </ckeditor>
					</div>
					<div class="form-group" [ngClass]="{'has-success': initDate.valid}">
						<label class="form-control-label">Fecha</label>
						<div class="input-group">
							<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" (click)="showDatePickerI = !showDatePickerI">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							<input #initDate="ngModel" readonly="true" [(ngModel)]="formatedDateI" type="text" class="form-control" name="formatedDateI" placeholder="Fecha de publicación" (focus)="showDatePickerI = true" required>
						</div>
						<div *ngIf="showDatePickerI" style="position: absolute; z-index:10; min-height:290px;">
							<datepicker name="algo" [(ngModel)]="advice.fecha" [minDate]="datepickerConfigInit.minDate" [showWeeks]="false" (selectionDone)="activeDateChangeInitDate($event)"></datepicker>
						</div>
					</div>
					<div class="form-group" [ngClass]="{'has-success': advice.imagen !== ''}">
						<label class="form-control-label">Imágen</label>
						<div *ngIf="!advice.id">
							<label class="custom-file">
								<input type="file" class="custom-file-input" name="imagen" (change)="changeListener($event)">
								<span #filedialog class="custom-file-control">
									Escoja una imágen...
								</span>
							</label>
						</div>
						<div *ngIf="advice.id" class="col-6">
							<img class="img-fluid" [src]="advice.imagen" alt="">
						</div>
					</div>
					<div class="form-group">
						<label class="form-control-label">Activo</label>
						<div>
							<ui-switch [(ngModel)]="advice.activo" name="activo"></ui-switch>
						</div>
					</div>
					<button class="btn btn-primary pull-right" (click)="save()" [disabled]="form.invalid || !advice.imagen"><i class="fa fa-floppy-o"></i> Guardar</button>
					<button class="btn btn-danger pull-right" (click)="delete()" *ngIf="advice.id"><i class="fa fa-times"></i> Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- <pre>{{advice|json}}</pre> -->
