// Core variables and mixins
@import "bootstrap-variables";
@import "bootstrap_src/variables";
@import "custom-variables";
@import "bootstrap_src/mixins";
@import "core/mixins";

// Reset and dependencies
@import "bootstrap_src/normalize";
@import "bootstrap_src/print";

// Core CSS
@import "bootstrap_src/reboot";
@import "bootstrap_src/type";
@import "bootstrap_src/images";
@import "bootstrap_src/code";
@import "bootstrap_src/grid";

@import "bootstrap_src/tables";
@import "bootstrap_custom/tables";

@import "bootstrap_src/forms";

@import "bootstrap_src/buttons";
@import "bootstrap_custom/buttons";

// Components
@import "bootstrap_src/transitions";

@import "bootstrap_src/dropdown";
@import "bootstrap_custom/dropdown";

@import "bootstrap_src/button-group";

@import "bootstrap_src/input-group";
@import "bootstrap_custom/input-group";

//@import "custom-forms";

@import "bootstrap_src/nav";
@import "bootstrap_custom/nav";

@import "bootstrap_src/navbar";
@import "bootstrap_custom/navbar";

@import "bootstrap_src/card";
@import "bootstrap_custom/card";

@import "bootstrap_src/breadcrumb";
@import "bootstrap_custom/breadcrumb";

@import "bootstrap_src/pagination";

@import "bootstrap_src/badge";
@import "bootstrap_custom/badge";

//@import "jumbotron";
@import "bootstrap_src/alert";

@import "bootstrap_src/progress";
@import "bootstrap_custom/progress";

@import "bootstrap_src/media";
@import "bootstrap_src/list-group";
@import "bootstrap_src/responsive-embed";
@import "bootstrap_src/close";

// Components w/ JavaScript
@import "bootstrap_src/modal";
@import "bootstrap_custom/modal";

@import "bootstrap_src/tooltip";
@import "bootstrap_src/popover";
@import "bootstrap_src/carousel";

// Utility classes
@import "bootstrap_src/utilities";

// Vendors Styles
@import "vendors/vendors";

// CoreUI Styles
// Additional typography
@import "core/typography";

// Animations
@import "core/animate";

// Core files
@import "core/grid";
@import "core/layout";
@import "core/navigation";
@import "core/aside";
@import "core/loading";
@import "core/widgets";
@import "core/footer";
@import "core/buttons";
@import "core/others";
@import "core/breadcrumb-menu";
@import "core/avatars";
@import "core/callout";
@import "core/switches";
@import "core/charts";
@import "core/utilities-border";

// Temporary fixes
@import "core/temp";

// Mobile View
@import "core/mobile";

// Custom styles
@import "custom";

// UI Kits
@import "uikits/uikits";

@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

@import "node_modules/sweetalert2/src/sweetalert2";

.btn {
	cursor: pointer;
}

.has-danger .col-form-label {
		color: #c20808;
}

.has-danger .form-control {
		border-color: #c20808;
}

.fa-stack {
	width: 1em !important;
	height: 1em !important;
	line-height: 1em !important;
	margin-right: 1em;
}

.fa-stack-1x {
	font-size: 0.6em !important;
}

.ngx-datatable.bootstrap .datatable-footer {
	background: #384042 !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
	background-color: #20a8d8 !important;
}

.has-warning .form-control-feedback, .has-warning .form-control-label, .has-warning .col-form-label, .has-warning .form-check-label, .has-warning .custom-control {
	color: #f7973a !important;
}

.has-warning .form-control, .has-warning .daterangepicker .input-mini, .daterangepicker .has-warning .input-mini, .has-warning .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
	border-color: #f7973a !important;
}

.has-warning .input-group-addon {
	color: #f7973a !important;
	border-color: #f7973a !important;
}

.ui-select-choices-row.active[_ngcontent-c1] > a[_ngcontent-c1] {
	background-color: #20a8d8 !important;
}

@media (max-width: 991px) {
	.app-header .navbar-toggler {
		color: #fff !important;
	}
}

accordion-group {
	cursor: pointer;
	i {
		color: #c0cadd;
	}
	.panel-heading:hover {
		background: #2c3334;
		i {
			color: #fff;
		}
	}
	.card {
		margin-bottom: 0;
		background-color: transparent;
		border: 0;
	}
	.card-header {
		border-bottom: 0;
		background: transparent;
	}
	.card-block {
		padding: 0;
	}
	.nav-link {
		padding-left: 1.5rem !important;
	}
}

.custom-file {
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: 2.5rem;
	margin-bottom: 0;
	cursor: pointer;
}
.custom-file-input {
	min-width: 14rem;
	max-width: 100%;
	height: 2.5rem;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.custom-file-control {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	line-height: 1.5;
	color: #464a4c;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0.25rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	&::before {
		content: "Abrir";
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		z-index: 6;
		display: block;
		height: 2.5rem;
		padding: 0.5rem 1rem;
		line-height: 1.5;
		color: #464a4c;
		background-color: #eceeef;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 0 0.25rem 0.25rem 0;
	}
	// &::after {
	// 	content: "Escoja un archivo...";
	// }
}

.pull-right {
	margin-right: 5px;
	margin-left: 5px;
}

/*
bootstrap table theme
*/

.ngx-datatable.bootstrap {
	box-shadow: none;
	font-size: 13px;

	.datatable-header {
		height: unset !important;

		.datatable-header-cell {
			vertical-align: bottom;
			padding: 0.75rem;
			border-bottom: 1px solid #d1d4d7;

			.datatable-header-cell-label {
				line-height: 24px;
			}
		}
	}

	.datatable-body {
		.datatable-body-row {
			padding: 0.75rem;
			vertical-align: top;
			border-top: 1px solid #d1d4d7;

			&.datatable-row-even {
				background-color: rgba(0, 0, 0, 0.05);
			}

			&.active {
				background-color: #1483ff;
				color: #FFF;
			}

			.datatable-body-cell {
				text-align: left;
				vertical-align: top;
			}
		}
	}

	.datatable-footer {
		background: #424242;
		color: #ededed;
		margin-top: -1px;

		.page-count {
			line-height: 50px;
			height: 50px;
			padding: 0 1.2rem;
		}

		.datatable-pager {
			margin: 0 10px;
			vertical-align: top;

			ul {
				li {
					margin: 10px 0;

					&:not(.disabled) {
						&.active,
						&:hover {
							a {
								background-color: #545454;
								font-weight: bold;
							}
						}
					}
				}
			}

			a {
				height: 22px;
				min-width: 24px;
				line-height: 22px;
				padding: 0;
				border-radius: 3px;
				margin: 0 3px;
				text-align: center;
				vertical-align: top;
				text-decoration: none;
				vertical-align: bottom;
				color: #ededed;
			}

			.datatable-icon-left,
			.datatable-icon-prev,
			.datatable-icon-right,
			.datatable-icon-skip {
				font-size: 18px;
				line-height: 27px;
				padding: 0 3px;
			}
		}
	}
}
.padding{
	padding: 20px;
}
.navbar-brand{
	color: White;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	&:hover, &:active, &:focus, &:visited {
		color: white;
	}
}
.margin-bottom{
	margin-bottom: 10px;
}
accordion-group .nav-link, accordion-group .navbar .dropdown-toggle, .navbar accordion-group .dropdown-toggle{
	padding-left: 3rem !important;
	background: rgba(0,0,0,0.15) !important;
}
header.navbar .nav-item:not(.nav-toggler) {
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center;
    height: 60px;
    padding: 12px 0px;
	cursor: pointer;
}
