<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<form #form="ngForm">
						<h3 class="mb-2">Alta de tarifa</h3>
						<div class="form-group" [ngClass]="{'has-success': name.valid, 'has-danger': name.touched && name.invalid}">
							<label class="form-control-label">Nombre</label>
							<input #name="ngModel" type="text" class="form-control" name="name" [(ngModel)]="rate.nombre" required>
						</div>
						<div class="form-group">
							<label class="form-control-label">Tipo</label>
							<div class="form-check">
								<label class="form-check-label">
									Ordinario
									<input class="" type="radio" name="tipo" [value]="1" [(ngModel)]="rate.tipo" >
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									Preferente
									<input class="" type="radio" name="tipo" [value]="2" [(ngModel)]="rate.tipo" >
								</label>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-success': precio.valid, 'has-danger': precio.touched && precio.invalid}">
							<label class="form-control-label">Precio</label>
							<input #precio="ngModel" type="number" class="form-control" name="price" [(ngModel)]="rate.precio" required>
						</div>
						<div class="form-group" [ngClass]="{'has-success': initDate.valid}">
							<label class="form-control-label">Fecha de inicio</label>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" (click)="showDatePickerI = !showDatePickerI">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
								<input #initDate="ngModel" readonly="true" [(ngModel)]="formatedDateI" type="text" class="form-control" name="formatedDateI" placeholder="Fecha de publicación" (focus)="showDatePickerI = true" required>
							</div>
							<div *ngIf="showDatePickerI" style="position: absolute; z-index:10; min-height:290px;">
								<datepicker name="algo" [(ngModel)]="rate.fecha_tarifa" [showWeeks]="false" (selectionDone)="activeDateChangeInitDate($event)"></datepicker>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-success': endDate.valid}">
							<label class="form-control-label">Fecha de fin</label>
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" (click)="showDatePickerE = !showDatePickerE">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
								<input #endDate="ngModel" readonly="true" [(ngModel)]="formatedDateE" type="text" class="form-control" name="formatedDateE" placeholder="Fecha de fin" (focus)="showDatePickerE = true" required>
							</div>
							<div *ngIf="showDatePickerE" style="position: absolute; z-index:10; min-height:290px;">
								<datepicker name="end" [(ngModel)]="rate.fecha_fin" [minDate]="datepickerConfigEnd.minDate" [showWeeks]="false" (selectionDone)="activeDateChangeEndDate($event)"></datepicker>
							</div>
						</div>
						<div class="form-group">
							<label class="form-control-label">Aire acondicionado?</label>
							<div>
								<ui-switch [(ngModel)]="rate.ac" name="ac"></ui-switch>
							</div>
						</div>
						<div class="form-group">
							<label class="form-control-label">Activo</label>
							<div>
								<ui-switch [(ngModel)]="rate.activo" name="activo"></ui-switch>
							</div>
						</div>
						<button class="btn btn-primary pull-right" (click)="save()" [disabled]="form.invalid"><i class="fa fa-floppy-o"></i> Guardar</button>
						<button class="btn btn-danger pull-right" (click)="delete()" *ngIf="rate.id"><i class="fa fa-times"></i> Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
